.zui-header {
	height: 50px;
	padding: 0 15px 0 0;
	background-color: #fff;

	.trigger {
		font-size: 18px;
	    line-height: 64px;
	    padding: 0 24px;
	    cursor: pointer;
	    transition: color .3s;

	    &:hover {
	    	color: #fc5a59;
	    }
	}

	.input-search {

		input {
			border: none;

			&:focus {
				border: none;
				box-shadow: none;
			}
		}
	}
}