.ant-affix {
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.zui-header {
    background-color: #fff;
    border-bottom: 1px solid #eee;

    & > div {
        width: 1300px;
        height: 70px;
        margin: 0 auto;
    }

    .logo {
        font-family: "楷体";
        font-size: 24px;
        color: #262523;
        line-height: 24px;
        font-weight: 600;
    }

    .header-tabs {
        height: 24px;
        list-style-type: none;

        .tab {
            display: inline-block;
            margin-right: 50px;
            font-size: 16px;
            color: #47340B;
            line-height: 24px;
            cursor: pointer;

            &.tab-active {
                color: #9E5C29;
                font-size: 18px;
            }
        }
    }

    .input-search {

        input {
            border: none;

            &:focus {
                border: none;
                box-shadow: none;
            }
        }
    }
}