.home {
    .ant-carousel .slick-initialized .slick-slide {
        width: 100%;
        height: 550px;

        & div {
            height: 550px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .news-list {
        .wrap-img {
            height: 320px !important;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}